# Ignorar la carpeta vendor, si no no jalara
vendor/

#esto es de cada quien
.env

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de logs
*.log

# Ignorar archivos de cachéz
.cache/
*.cache

# Ignorar archivos de Composer de copia de seguridaa
composer.lock.backup
